<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeiXInShareDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9985C4F51D40A0EB00FE2FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9985C50E1D40A0EB00FE2FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9985C5191D40A0EB00FE2FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
